# core dependencies
streamlit>=1.25.0
pandas>=2.1.0
numpy>=1.27.0
joblib>=1.3.0
plotly>=5.20.0
requests==2.32.5

# for timezone handling
pytz>=2025.7
tzdata>=2025.1

# ML model dependencies
scikit-learn>=1.3.2
xgboost>=1.7.6
